# Project Config
PROJECT_NAME="Enterprise RAG Backend"
VERSION="0.1.0"

# Google Gemini Config
GOOGLE_API_KEY="AIza..."
GEMINI_MODEL_NAME="gemini-1.5-flash"

# Vector Database
CHROMA_DB_PATH="chroma_db"
# PINECONE_API_KEY="...
# PINECONE_ENVIRONMENT="...
# CHROMA_DB_PATH="./chroma_db"
